doctype html
html(lang="en")
	head
		title examen
		link(rel="stylesheet", href="css/styles.css")
	body
		header
			nav
				ul
					li Vendedores
					li Compradores
					li Regístrate
					li Iniciar sesión
					li#contactBtn Contacto
		section.mainImg
			h3 Vende o compra propiedades
			p ¡Sin comisión de corredores!
		section.howWorks
			h3 ¿Cómo funciona?
			.workCont
				.imgCont
					.costo_img
						img
						p Costo Fijo
					.vs_img
						p vs
					.comision_img
						img
						p Comisión del 3% al 5%
				.clear
				.text_cont
					.title
						p Conoce
					.costo_desc
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					.comision_desc
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				.clear
				.text_cont
					.title
						p Determina
					.costo_desc
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					.comision_desc
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				.clear
		section.register
			h3 Regístrate
			.btnCont
				.comprar_btn
					p Comprar
				.vender_btn
					p Vender
		footer
			.footer_img
				.first_img
					img
				.second_img
					ul
						li Contacto
						li Preguntas Frecuentes
						li Acerca de
				.third_img
					ul
						li info@cierralo.com
						li (55) 4567 4323
						li
							.fb_logo
							.insta_logo
				.fourth_img
					p Conviertete en vendedor
					.btn_footer Regístrate
				.clear
			.legal
				p Terminos y condiciones
				p ·
				p Aviso de privacidad
		script(src="js/blickUtils.js")